<div class="container text-center">
  <h1>About page</h1>
  <p>Welcome to DevMatch. We are a company that focuses on creating an exclusive 
  community where entrepreneurs and developers can meet
  </p>
</div>